.navbar {
  height: $topBarHeight;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 7px;
  background: url('../../../../assets/img/bg-1.png');

  .left {
    height: $topBarHeight;
    line-height: $topBarHeight;
    vertical-align: middle;
    color: var(--el-text-color-regular);
    font-size: var(--el-font-size-base);

    .icon {
      cursor: pointer;
      margin-top: 5px;
      position: relative;
      top: 2px;
    }
  }
  
}

.iconfont.icon-zhedie1,
.iconfont.icon-zhedie2 {
  font-size: 20px;
  cursor: pointer;
}

.iconfont {
  margin-right: 0px;
  padding-right: 0px;
}